#main-doc {
    font-family: 'Merriweather', serif;
    margin-left: 250px;
    margin-top: 0px;
}

code {
    background-color: lightgrey;
    font-weight: bold;
    font-size: 14px;
}

header {
    background-color: black;
    height: 50px;
    width: auto;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

ul li {
    list-style: none;
    display: inline-block;
}

ul li a {
    display: block;
    color: white;
    margin:10px;
    text-decoration: none;
    font-size: 1.2rem;
}

ul li a:hover {
    font-weight: bold;
    background-color: violet;
}

footer {
    background-color: black;
}

@media (min-width:900px) {
    #navbar ul {
        text-align: left;
        height: 100%;
        width: 150px;
        position: fixed;
        background-color: black;
        top: 0;
        left: 0;
        align-items: center;
        flex-direction: column;
    }
}

@media (min-width:900px) {
    header {
        height: 100%;
        width: 150px;
    }
}